.card {
  background-color: black;
  border: 1px solid rgb(64, 0, 255);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 2px white, 0 0 5px rgb(64, 0, 255), 0 0 6px rgb(64, 0, 255),
    0 0 7px rgb(64, 0, 255), 0 0 8px rgb(64, 0, 255), 0 0 9px rgb(64, 0, 255),
    0 0 10px rgb(64, 0, 255);
  position: relative;
}

.card__title {
  color: white;
  margin: 5px;
  padding: 0;
}

.card__question {
  color: white;
  margin: 10px;
  padding: 0;
}

.card__answer {
  color: white;
  margin: 10px;
  padding: 0;
}

.card__button:active {
  cursor: pointer;
  background-color: blue;
}

.card__button {
  font-size: 1.1rem;
  display: block;
  margin: 20px auto;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 50px;
  border: 1px solid rgb(64, 0, 255);
  box-shadow: 0 0 2px white, 0 0 5px black, 0 0 8px black, 0 0 12px blue,
    0 0 16px blue;
}

.card__button-hide-answer {
  font-size: 1.1rem;
  display: block;
  margin: 20px auto;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 50px;
  border: 1px solid rgb(255, 0, 247);
  box-shadow: 0 0 2px black, 0 0 5px black, 0 0 8px black,
    0 0 12px rgb(255, 0, 247), 0 0 16px rgb(255, 0, 247);
}

.card__button-hide-answer:active {
  cursor: pointer;
  background-color: rgb(255, 0, 247);
}

.card__tag-group {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
  row-gap: 20px;
  padding: 0;
  margin: 20px 0px 20px 0px;
}

.card__tag {
  text-decoration: none;
  border-radius: 20px;
  padding: 5px;
  background-color: black;
  color: rgb(116, 116, 116);
  box-shadow: 0 0 2px white, 0 0 5px rgb(64, 0, 255), 0 0 6px rgb(64, 0, 255),
    0 0 7px rgb(64, 0, 255), 0 0 8px rgb(64, 0, 255), 0 0 9px rgb(64, 0, 255),
    0 0 10px rgb(64, 0, 255);
}
