.card {
  background-color: #fff;
  border: 1px gray solid;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 5px rgb(244, 244, 244);
}

.card__list {
  margin-top: 110px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
}

.card__title {
  color: black;
  margin: 5px;
  padding: 0;
}

.card__question {
  color: black;
  margin: 10px;
  padding: 0;
}

.card__button {
  background-color: #fff;
  display: block;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 50px;
  font-size: 1.3rem;
  box-shadow: 5px 5px 5px black;
}

.card__button:hover {
  cursor: pointer;
  background-color: rgb(125, 222, 133);
}

.card__tag-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 20px 0px 20px 0px;
}

.card__tag {
  /* background-color: aquamarine; */
  border: 3px solid black;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
  color: rgb(90, 90, 90);
  box-shadow: 5px 5px 5px black;
}

.card__tag:hover {
  background-color: rgb(125, 222, 133);
}
