.navigation {
  background-color: black;
  color: black;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  box-shadow: 0 0 2px black, 0 0 5px black, 0 0 8px black,
    0 0 12px rgb(0, 166, 255), 0 0 16px rgb(0, 166, 255);
}

.navigation__button {
  background-color: black;
  border: none;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 2px white, 0 0 5px black, 0 0 8px black, 0 0 12px blue,
    0 0 16px blue;
}

.navigation__button--set {
  color: rgb(64, 0, 255);
}

.navigation__button:active {
  background-color: rgb(64, 0, 255);
}

.navigation__button--bookmarks {
  color: rgb(64, 0, 255);
}
